.ubicacion-info{
    padding: 2rem 0;
}

.ubicacion-info h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.ubicacion-info h2 span{
    color: var(--blue);
    font-weight: 800;
}

.ubicacion-info main{
    display: grid;
    gap:3rem;
    margin-top: 2rem;
}

.ubicacion-info hr{
    position: relative;
    left: -80%;
    width: 200%;
    margin: 1rem 0;
    border-color: rgba(216, 216, 216, 0.215);
}

.ubicacion-info main .box{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap:.5rem;
}

.ubicacion-info main .box a{
    text-decoration: none;
    color: var(--blue);
}

.ubicacion-info main .box p{
    text-align: center;
}

.ubicacion-info main .box i{
    font-size: 2rem;
    color:var(--red-color);
}

.ubicacion-info main .box:nth-child(3) span{
    font-weight: 600;
}
@media(min-width:540px){
    .ubicacion-info main{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:780px){
.ubicacion-info main{
    grid-template-columns: repeat(4, 1fr);
}
}