.stats{
    padding: 2rem 0;
    background-image: linear-gradient(90deg,  rgba(0, 0, 255, 0.74) 0% 100%), url(../../../assets/stats/bg-stats.png);
    background-size: cover;
    background-position: center;
}

.container-stats{
    display: grid;
    gap:2rem;
}

.container-stats > h2{
    color: white;
    margin-bottom: 2rem;
}

.container-stats > h2 span{
    color: rgb(255, 0, 0);
}

.container-stats .box h2{
    font-size: 2rem;
    color:white;
}

.container-stats .box h2 span{
    color: rgb(255, 0, 0);
}

.container-stats .box p{
    color:rgb(224, 224, 224);
}

@media(min-width:1200px){
    .stats{
        padding: 4rem 0;
    }

    .container-stats .box h2{
        font-size: 3rem;
    }
}