.testimonials{
    padding: 3rem 0;
    background-image:linear-gradient(90deg, rgba(255, 0, 0, 0.626) 0 100%) ,url(../../../assets/testimonial/testimonial-bg-movil.png);
    background-size: cover;
}

.container-testimonials {
    width: 90%;
    margin: auto;
}

.container-testimonials h2{
    color:var(--white-text);
}

.container-testimonials hr{
    width: 60%;
    border: 1px solid var(--color-textNav);
    opacity: .5;
    margin: 2rem 0;
}

.box-testimonials{
    display: grid;
    gap:4rem;
}

.box-testimonials .box{
    max-width: 600px;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap:1rem;
}

.box-testimonials .box > p{
    color:var(--white-text);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.box-testimonials .box footer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap:1rem;
    background: none;
}

.box-testimonials .box footer img{
    width: 80px;
}

.box-testimonials .box footer .person-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:.5rem;
}

.box-testimonials .box footer .person-info p{
    color: var(--white-text);
    font-weight: 600;
}

.box-testimonials .box footer .person-info span{
    color:var(--color-textNav);
    font-weight: 200;
}

@media(min-width:1000px){

    .testimonials{
        background-image:linear-gradient(90deg, rgba(255, 0, 0, 0.626) 0 100%) ,url(../../../assets/testimonial/testimonial-bg.png);
    }
    
    .box-testimonials{
        grid-template-columns: 1fr 1fr 1fr;
    }
}